# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg-info/
*.egg-info/
MANIFEST

# Virtual environment
.venv/

# Logs
*.log